// mixins for buttons

@mixin lightbutton {
  border: 2px solid $primary;
  border-radius: 6px;
  background-color: $background-light;
  color: $primary;
  height: 50px;
}

@mixin darkbutton {
  border: 2px solid $primary;
  border-radius: 6px;
  background-color: $secondary;
  color: $white;
  height: 50px;
}

.button-light {
  @include lightbutton;
  width: 45%;
  font-size: 20px;
}

.button-dark {
  @include darkbutton;
  width: 100%;
  font-size: 20px;
}

@mixin dropdown {
  background-image: url("../assets/icons/play.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  transform: rotate(90deg);
  z-index: 3000;
}
