// Colours

$background: #c9f5e4;
$background-light: #f1fffa;
$primary: #005031;
$secondary: #049376;
$tertiary: #1e824c;

$black: #000000;
$dark-grey: #545454;
$medium-grey: #7e7e7e;
$light-grey: #c7c7c7;
$alabaster: #fafafa;
$white: #ffffff;

$accent1: #bb671c;
$accent2: #9d8319;
