.header {
  background-color: $secondary;
  width: 100%;
  height: 75px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  position: relative;
  justify-content: center;

  &__menu {
    position: absolute;
    left: 20px;
    height: 40px;
    width: 40px;

    &-icon {
      height: 40px;
      width: 40px;
    }
  }

  &__text {
    @include title(30px, 30px, $white);
    text-align: center;
    align-self: center;
  }
}

@include medium {
  .header {
    padding: 0 32px;
    &__menu {
      left: 32px;
    }
  }
}
