.home {
  padding: 40px 20px;
  background-color: $background;
  display: flex;
  flex-direction: column;

  &__callout {
    padding: 16px;
    text-align: center;

    &-text {
      @include text(35px, 45px, $primary);
      text-align: left;
      font-weight: 800;
    }
  }
  &__text {
    @include text(16px, 20px, $black);
  }
  &__action-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 32px;
  }
}

.about {
  margin-top: 20px;
  padding-top: 80px;
  &__title {
    @include text(24px, 24px, $secondary);
    font-weight: 600;
  }
  &__container {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
  }
  &__text {
    @include text(16px, 20px, $black);
    width: 45%;
  }
  &__button {
    margin-top: 45px;
  }
  &__image {
    background-image: url("../assets/images/bag.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 50%;
  }
  &__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
    &-title {
      text-align: center;
      margin-bottom: 32px;
    }
    &-text {
      @include text(16px, 20px, $black);
      margin: 24px 0;
    }
  }
  &__explainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    padding: 24px;
    &-image {
      height: 140px;
    }
  }
  &__timeline {
    width: 100%;
    height: 300px;
    background-image: url("../assets/images/timeline.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@include medium {
  .home {
    padding: 60px 80px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &__callout {
      width: 45%;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: left;
      padding: 60px 0;
    }
    &__text-container {
      text-align: left;
      margin-top: 24px;
      width: 80%;
    }
    &__explainer {
      width: 55%;
      height: 600px;
      float: right;
      background-image: url("../assets/images/bigstock-131623400\ 2.png");
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
    }
    &__text {
      margin-top: 0;
    }
    &__action-container {
      display: flex;
      width: 100%;
      height: 200px;
      flex-direction: row;
      margin-top: 60px;
      justify-content: left;
    }
    &__login,
    &__signup {
      width: 150px;
      margin-right: 16px;
    }
  }
}
