.signup {
  background-color: $background;
  margin: 0;
  padding: 40px 20px;
  height: fit-content;
  &__submit-button {
    @include darkbutton;
    width: 50%;
    font-size: 14px;
  }
}

.radio {
  display: inline;
  padding: 0 12px;
}

@include medium {
  .signup {
    padding: 80px;
    &__submit-button {
      font-size: 20px;
    }
  }
}
