@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
}

@font-face {
  font-family: "MontserratSemiBold", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
}

@font-face {
  font-family: "MontserratExtraBold", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
}

// Mixins for fonts

@mixin title($font-size, $line-height, $color) {
  font-family: "MontserratSemiBold";
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin text($font-size, $line-height, $color) {
  font-family: "Montserrat", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin bold($font-size, $line-height, $color) {
  font-family: "MontserratExtraBold", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}
