@font-face {
  font-family: "Lobster", cursive;
  src: url("../assets/fonts/Lobster-Regular.otf");
}

@font-face {
  font-family: "LobsterTwo", cursive;
  src: url("https://fonts.googleapis.com/css?family=Lobster+Two&display=swap");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
}

@font-face {
  font-family: "RobotoLight", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
}

@font-face {
  font-family: "RobotoBold", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
}

// Mixins for fonts

@mixin title($font-size, $line-height, $color) {
  font-family: "Lobster";
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin text($font-size, $line-height, $color) {
  font-family: "Roboto", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin light($font-size, $line-height, $color) {
  font-family: "RobotoLight", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin bold($font-size, $line-height, $color) {
  font-family: "RobotoBold", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}
