html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.8rem;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "AvenirNextProLT";
}

html a,
body a {
  text-decoration: none !important;
}

body {
  position: relative;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
}

@font-face {
  font-family: "MontserratSemiBold", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
}

@font-face {
  font-family: "MontserratExtraBold", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
}

.button-light {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #84bde1;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
}

.button-dark {
  border: none;
  background-color: #84bde1;
  color: #ffffff;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
}

.header {
  background-color: #ffffff;
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.header__logo {
  height: 40px;
  padding-top: 4px;
  padding-right: 80px;
}

.header__link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #84bde1;
  font-weight: 600;
}

.header__link-container {
  background-color: #ffffff;
  height: 75px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #c7c7c7;
}

.header__link-text {
  color: #000000;
}

.homepage {
  background-color: #84bde1;
  color: #ffffff;
  border: none;
}

@media only screen and (min-width: 670px) {
  .header {
    padding: 0 80px;
  }
}

.home {
  padding: 40px 20px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__callout {
  padding: 16px;
  text-align: center;
}

.home__callout-text {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  line-height: 45px;
  color: #40449f;
  text-align: left;
  font-weight: 800;
}

.home__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.home__action-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px;
}

.about {
  margin-top: 20px;
  padding-top: 80px;
}

.about__title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #84bde1;
  font-weight: 600;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 45%;
}

.about__button {
  margin-top: 45px;
}

.about__image {
  background-image: url("../assets/images/bag.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  width: 50%;
}

.about__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
}

.about__hero-title {
  text-align: center;
  margin-bottom: 32px;
}

.about__hero-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 24px 0;
}

.about__explainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 100%;
  padding: 24px;
}

.about__explainer-image {
  height: 140px;
}

.about__timeline {
  width: 100%;
  height: 300px;
  background-image: url("../assets/images/timeline.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 670px) {
  .home {
    padding: 60px 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home__callout {
    width: 45%;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 60px 0;
  }
  .home__text-container {
    text-align: left;
    margin-top: 24px;
    width: 80%;
  }
  .home__explainer {
    width: 55%;
    height: 600px;
    float: right;
    background-image: url("../assets/images/bigstock-131623400 2.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  .home__text {
    margin-top: 0;
  }
  .home__action-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 60px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .home__login, .home__signup {
    width: 150px;
    margin-right: 16px;
  }
}

.menu {
  padding: 24px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.menu__exit {
  position: absolute;
  left: 20px;
  height: 40px;
  width: 40px;
}

.menu__exit-icon {
  height: 30px;
  width: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__title {
  font-family: "MontserratSemiBold";
  font-size: 30px;
  line-height: 30px;
  color: #84bde1;
}

.menu__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

.menu__link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #84bde1;
  padding: 10px 40px;
  border-bottom: 1px solid #84bde1;
}

.menu__link--bold {
  font-weight: bold;
}

.menu__footer {
  position: absolute;
  bottom: -150px;
  margin: 0;
  padding: 0;
}

.menu__footer-text {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: #84bde1;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 670px) {
  .menu {
    padding: 24px 32px;
  }
}

.browse {
  background-color: #ffffff;
  padding: 20px;
}

.browse__filter {
  margin: 12px 0 32px 0;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #84bde1;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}

.browse__form {
  position: relative;
}

.browse__dropdown {
  background-image: url("../assets/icons/play.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 3000;
  position: absolute;
  top: 16px;
  right: 20px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 2px solid #40449f;
  margin-bottom: 16px;
}

.item__icon--offered {
  float: left;
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 12px;
  background-image: url("../assets/icons/offered.svg");
}

.item__icon--wanted {
  float: left;
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 12px;
  background-image: url("../assets/icons/wanted.svg");
}

.item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item__type, .item__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.item__area {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #7e7e7e;
  margin-bottom: 8px;
}

@media only screen and (min-width: 670px) {
  .browse {
    padding: 32px;
  }
}

.login {
  background-color: #ffffff;
  margin: 0;
  padding: 40px 20px;
  height: 100vh;
}

.login__title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #40449f;
  font-weight: 800;
}

.login__input {
  padding-top: 32px;
}

.login__label {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #40449f;
}

.login__name, .login__username, .login__email, .login__password {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid #40449f;
}

.login__button-container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login__signup-link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #40449f;
  width: 50%;
}

.login__submit-button {
  border: none;
  background-color: #84bde1;
  color: #ffffff;
  height: 50px;
  width: 50%;
  font-size: 20px;
}

@media only screen and (min-width: 670px) {
  .login {
    padding: 50px 80px;
  }
}

.signup {
  background-color: #ffffff;
  margin: 0;
  padding: 40px 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.signup__submit-button {
  border: none;
  background-color: #84bde1;
  color: #ffffff;
  height: 50px;
  width: 50%;
  font-size: 14px;
}

.radio {
  display: inline;
  padding: 0 12px;
}

@media only screen and (min-width: 670px) {
  .signup {
    padding: 50px 80px;
  }
  .signup__submit-button {
    font-size: 20px;
  }
}

.an-item {
  background-color: #ffffff;
  margin: 0;
  padding: 40px 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.an-item__header {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #40449f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.an-item__body {
  padding-top: 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.an-item__footer {
  border-top: 2px solid #40449f;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.an-item__footer-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #545454;
  margin-top: 6px;
}

.an-item__message {
  width: 100%;
  border: none;
  background-color: #84bde1;
  color: #ffffff;
  height: 50px;
  height: 40px;
  width: 100%;
  text-align: center;
  padding-top: 4px;
  margin-top: 24px;
}

.an-item__login {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.an-item__messages {
  margin-top: 24px;
  background-color: #ffffff;
}

@media only screen and (min-width: 670px) {
  .an-item {
    padding: 50px 32px;
  }
}

.message__form {
  padding-top: 16px;
  min-height: 40vh;
}

.message__label {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #40449f;
}

.message__text {
  width: 100%;
  height: 80px;
  padding: 16px;
  border-radius: 10px;
  border: 2px solid #40449f;
}

.message__submit {
  border: none;
  background-color: #84bde1;
  color: #ffffff;
  height: 50px;
  width: 50%;
  margin-top: 24px;
  float: right;
  font-size: 16px;
}

.message__container {
  margin-top: 24px;
  padding: 12px 0;
  border-top: 2px solid #84bde1;
}

.message__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message__sender, .message__sent-date {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #545454;
}

.message__sent-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.myitems {
  background-color: #ffffff;
  margin: 0;
  padding: 40px 20px;
  height: 100vh;
}

.myitems__link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #40449f;
}

.myitems__title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #40449f;
}

.myitems__list {
  margin-top: 24px;
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 2px solid #40449f;
}

.myitems__item {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 2px solid #40449f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 670px) {
  .myitems {
    padding: 50px 32px;
  }
}

.newitem {
  background-color: #ffffff;
  padding: 40px 20px;
  margin: 0;
}

.newitem__title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #40449f;
}

.newitem__input {
  margin-top: 32px;
}

.newitem__input--area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.newitem__label {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #40449f;
}

.newitem__post-title {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #ffffff;
  padding-left: 16px;
  border: none;
}

.newitem__text {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 16px;
  border: none;
}

.newitem__explain {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #545454;
  margin-bottom: 16px;
}

.newitem__area {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #84bde1;
  height: 50px;
  width: 172px;
  padding-left: 16px;
  margin-bottom: 20px;
}

.newitem__submit-button {
  border: none;
  background-color: #84bde1;
  color: #ffffff;
  height: 50px;
  width: 100%;
  margin-top: 24px;
  font-size: 16px;
}

.dropdown {
  background-image: url("../assets/icons/play.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 3000;
  position: relative;
  top: 35px;
  left: 128px;
}

@media only screen and (min-width: 670px) {
  .newitem {
    padding: 50px 32px;
  }
}

.footer {
  padding: 50px 80px;
  background-color: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.footer__container {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__container--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__button {
  border: none;
  background-color: #84bde1;
  color: #ffffff;
  height: 50px;
  font-size: 20px;
  width: 60%;
}
/*# sourceMappingURL=main.css.map */